NODE_ENV=
PORT=
LOG_LEVEL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
DATABASE_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
ENCRYPTION_KEY=
FRONTEND_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
REDIS_URL=